@charset "utf-8";
/* CSS Document */

img {
	border:none;
	padding:0px;
	width:134px;
	height:48px;
}
div.lpxcenterpageouter { 
	text-align: center;
	position: absolute;
	top: 0px; left: 0px;
	width: 100%;
}
div#element48outer {
	position:absolute; 
	width: 300px;
	height: 202px; 
}
.corner_f6f6f6_10_topleft { 
	background-image: url(publishImages/Menu~~f6f6f6~~10~~topleft.png);
	top: 0px;
	left: 0px;
}
.corner_f6f6f6_10_topright {
	background-image: url(publishImages/Menu~~f6f6f6~~10~~topright.png);
	top: 0px;
	right: 0px; 
}
.corner_f6f6f6_10_bottomleft { 
	background-image: url(publishImages/Menu~~f6f6f6~~10~~bottomleft.png);
	bottom: 0px;
	left: 0px;
}
.corner_f6f6f6_10_bottomright { background-image: url(publishImages/Menu~~f6f6f6~~10~~bottomright.png);
	bottom: 0px;
	right: 0px;
}
.corner_f6f6f6_10_topleft, .corner_f6f6f6_10_topright, .corner_f6f6f6_10_bottomleft, .corner_f6f6f6_10_bottomright {
	position: absolute;
	width: 10px;
	height: 10px;
}
div#element48horiz { 
	background-color:#f6f6f6;
	position: absolute;
	top: 10px;
	width: 300px;
	height: 182px;
}
div#element48vert {
	background-color: #f6f6f6;
	color: #f6f6f6;
	position: absolute;
	left: 10px;
	width: 280px;
	height: 202px;
}
div.lpxcenterpageouter {
	text-align: center; 
	position: absolute; 
	top: 0px;
	left: 0px;
	width: 100% 
}